services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver-dev
    restart: always
    environment:
      ACCEPT_EULA: "y"
      MSSQL_SA_PASSWORD: ${SA_PASSWORD}
    ports:
      - "1433:1433"
    networks:
      - backend
    volumes:
      - sql_data_dev:/var/opt/mssql

  server:
    build:
      context: .
      dockerfile: server/BookHub/Dockerfile.dev
    container_name: server-dev
    depends_on:
      - sqlserver
    ports:
      - "8080:8080"
      - "8081:8081"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Server=sqlserver,1433;Database=${DB_NAME};User Id=sa;Password=${SA_PASSWORD};TrustServerCertificate=True;
      - ApplicationSettings__Secret=${APP_SECRET}
    volumes:
      - ./server:/src/server
    networks:
      - backend

  client:
    build:
      context: ./client
      dockerfile: Dockerfile.dev
    container_name: client-dev
    depends_on:
      - server
    ports:
      - "5173:5173"
    environment:
      - VITE_REACT_APP_SERVER_URL=http://server:8080
    volumes:
      - ./client:/app
      - /app/node_modules
    networks:
      - backend

networks:
  backend:
    driver: bridge

volumes:
  sql_data_dev:
