.message {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    max-width: 80%;
    z-index: 9999;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0;
    animation: fadeInOut 5s ease-in-out forwards
}

.message p {
    margin: 0
}

.message.success {
    background-color: #4CAF50
}

.message.error {
    background-color: #F44336
}

@keyframes fadeInOut {
    0% {
        opacity: 0
    }
    10% {
        opacity: 1
    }
    90% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}
