.create-author-container {
    background-color: #343a40;
}

.create-author-card {
    margin-top: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.create-author-image {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.create-author-image {
    width: 100%;
}

.create-author-card .form-control {
    border-radius: 5px;
    border-color: #ced4da;
}

.biography-textarea {
    width: 100%;
    resize: vertical;
    min-height: 200px;
    padding: 10px;
    border-color: #ced4da;
    border-radius: 5px;
    line-height: 1.5;
}

.create-author-card .form-control.is-invalid {
    border-color: #dc3545;
}

.text-danger {
    font-size: 0.875rem;
    font-weight: bold;
}

.fw-bold {
    font-weight: bold;
}
