.article-title {
    font-size: 3rem;
    font-weight: bold;
    color: #1b2838;
    line-height: 1.2;
    margin-bottom: 15px;
    background: linear-gradient(90deg, rgba(255, 143, 0, 1) 0%, rgba(255, 255, 255, 1) 50%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent
}

.article-introduction {
    font-size: 1.3rem;
    color: #495057;
    margin-top: 20px;
    line-height: 1.7;
    font-style: italic;
    padding-bottom: 20px
}

.article-content {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #343a40;
    margin-top: 30px;
    text-align: justify
}

.article-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px
}

.article-image {
    margin-top: 2em;
    width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease
}

.article-image:hover {
    transform: scale(1.05)
}

.article-image-placeholder {
    background-color: #f0f0f0;
    padding: 30px;
    text-align: center;
    color: #adb5bd;
    border-radius: 12px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold
}

.article-meta {
    font-size: 1.2rem;
    color: #6c757d;
    display: flex;
    align-items: center
}

.article-meta i {
    color: #ff9800;
    margin-right: 8px
}

@media (max-width: 768px) {
    .article-title {
        font-size: 2.5rem
    }

    .article-introduction {
        font-size: 1.1rem
    }

    .article-content {
        font-size: 1rem
    }

    .article-image {
        width: 100%
    }

    .article-image-container {
        flex-direction: column
    }
}

.my-col {
    margin: 0 auto
}
