.review-list {
    margin: 20px auto;
    max-width: 800px; 
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1)
}

.review-list h1 {
    font-size: 2.5rem; 
    font-weight: bold;
    text-align: center;
    color: #333;
    margin-bottom: 20px
}

.pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px
}

.pagination-controls button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s ease
}

.pagination-controls button:disabled {
    background-color: #cccccc;
    cursor: not-allowed
}

.pagination-controls button:hover:not(:disabled) {
    background-color: #0056b3;
}

.pagination-controls span {
    font-size: 1rem;
    color: #333
}