.author-intro-card {
  background-color: #f0f0f0;
  padding: 1.5rem;
  margin-top: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.author-intro-title {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  color: #333;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1.5rem;
}

.author-intro-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.author-intro-image-container {
  display: flex;
  align-items: center;
}

.author-intro-image {
  max-width: 120px;
  object-fit: cover;
  margin-right: 20px;
  border: 3px solid #ddd;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.author-intro-info {
  display: flex;
  flex-direction: column;
}

.author-name {
  font-weight: 600;
  color: #333;
}

.author-books-count {
  display: flex;
  align-items: center;
  color: #6c757d;
}

.author-book-icon {
  margin-right: 5px;
}

.author-intro-bio {
  position: relative;
  max-height: 200px;
  overflow: hidden;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.author-bio-text {
  line-height: 1.7;
  position: relative;
  z-index: 1;
  max-width: calc(100% - 120px);
  margin-bottom: 0;
}

.see-more {
  color: #007bff;
  font-weight: bold;
  display: inline;
}

.see-more-link {
  font-weight: bold;
  color: #007bff;
  text-decoration: none;
  margin-left: 5px;
}

.see-more-link:hover {
  text-decoration: underline;
}
