/* BookListItem.css */
.book-list-item {
  font-size: 1rem;
  background-color: #f8f9fa;
}

.book-list-item-image {
  max-height: 200px;
  width: auto;
  object-fit: cover;
}

.book-list-item-content {
  background-color: #f8f9fa;
}

.book-list-item-title {
  font-size: 1.2rem;
}

.book-list-item-author {
  font-size: 1rem;
}

.book-list-item-rating {
  font-size: 1rem;
}

.book-list-item-genres {
  font-size: 1.1em;
}

.book-list-item-description {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  max-height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1rem;
}

.book-list-item-btn {
  font-size: 1rem;
}
