.statistics-container {
    margin: 20px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
}

.statistics-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #343a40
}

.statistics-container h4 {
    font-size: 1.3rem;
    font-weight: 300;
    color: #555; 
    margin-top: 0;
    line-height: 1.5; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); 
    text-align: center
}

.stat-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
    transition: transform 0.3s ease
}

.stat-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)
}

.stat-icon {
    font-size: 3rem;
    color: #007bff;
    margin: auto
}

.stat-number {
    font-size: 2rem;
    font-weight: bold;
    color: #343a40
}

.stat-label {
    font-size: 1.1rem;
    color: #6c757d
}

.link-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff; 
    color: #fff; 
    font-size: 1rem; 
    font-weight: bold; 
    text-align: center; 
    text-decoration: none; 
    border-radius: 5px; 
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
}

.link-button:hover {
    background-color: #0056b3; 
    transform: translateY(-2px); 
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.link-button:active {
    background-color: #003f7f; 
    transform: translateY(0); 
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}
