.top-authors-title {
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 2.5rem;
    margin-top: 3rem; 
    text-align: center; 
}

.table-header {
    background-color: #f8f9fa;
    color: #333;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
}

.author-image {
    width: 75px;
    height: 75px;
    border-radius: 50%; 
    margin-right: 1rem;
}

.author-name {
    color: #333;
    font-weight: bold;
    margin-bottom: 1rem;
}

.genre-badge {
    font-size: 1.1rem;
}

.author-row {
    font-size: 1.25rem;
}

.view-button {
    border-radius: 0.375rem;
    font-size: 1rem;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9; 
}
