.author-details-wrapper {
    background-color: #f8f9fa;
}

.author-card {
    border: 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.author-header {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.author-image {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-right: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.author-name {
    font-family: 'Arial', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    color: #333;
}

.author-nationality, .author-penname {
    color: #777;
}

.author-actions {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.author-about, .author-statistics {
    margin-top: 20px;
}

.section-title {
    color: #007bff;
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.author-biography {
    color: #555;
}

.author-birthdate, .author-deathdate {
    color: #666;
}

.author-rating {
    font-size: 1.5rem;
}

.author-rating-text, .author-books-text {
    color: #777;
    font-size: 0.875rem;
}

.author-books-count {
    font-size: 1.5rem;
    font-weight: bold;
}

.alert {
    font-size: 1.25rem;
}

.author-statistics .author-books-count {
    font-size: 2rem; 
    font-weight: bold;
}

.author-statistics .author-books-text {
    font-size: 1rem; 
    color: #777;
}